@use "../abstracts/mixins";
@use "../vendors/general";
@use "../companents/links";

.site-header {
  padding-block: 24px;

  &__navbar{
    margin-top: 24px;
    transform: translateX(-320px);
    padding-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #333a44;

  }
  &__list{
    @include mixins.list-unstyled;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  &__btn {
    width: 20px;
    height: 16px;
    border: none;
    background-color: transparent;
    background-image: url("../images/hamburgbtn.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &__logo-wrapper {
    display: flex;
    align-items: center;
    column-gap: 60px
  }
}


.navbar-list__item-link {
  @include mixins.link;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}

.open-menu {
  transform: translateX(-32px);
  transition: transform 0.3s linear;
}
.close-btn {
  background-image: url("../images/icon-menu-close.svg");
}
.header-link {
  margin-top: 200px;
}

@media only screen and (min-width: 750px) {
  .site-header {
    padding-block: 22px;
    &__navbar {
      max-width: 940px;
      width: 100%;
      position: static;
      transform: translateX(0);
      display: flex;
      align-items: center;
      height: auto;
      margin-top: 0;
      padding: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      overflow-y: hidden;
    }
    &__btn {
      display: none;
    }
    &__list {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 32px;
    }
    &__inner {
      display: flex;
      align-items: center;
      column-gap: 60px;
    }
  }
  .header-link {
    margin-top: 0;
  }
  .navbar-list__item-link {
    color: #939caa;
  }
  .navbar-list {
    margin-bottom: 0;
  }
}